server:
  port: 9933
spring:
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/test?serverTimezone=GMT%2B8
    username: root
    password: passw0rd
    driver: com.mysql.jdbc.Driver
  jackson:
    time-zone: GMT+8
  servlet:
    multipart:
      max-file-size: 100MB
logging:
  level:
    com.seebon.delivery.dao: DEBUG

mybatis:
  type-aliases-package: com.example.demo.entity.*
  mapper-locations:  classpath:mapper/*.xml,classpath:mapper/*/*.xml,classpath:mapper/*/*/*.xml
mapper:
  mappers: tk.mybatis.mapper.common.Mapper
  not-empty: false
  identity: MYSQL
